<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Товар</title>
     <link rel="stylesheet" href="{% static "css/customer.css" %}" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>

<header>
    <nav class="default-nav">
      <ul>
          <li> <a href= "{% url 'general' %}" style="color:white">RUELS</a></li>
          <li> <a href= "{% url 'upload-payment' %}" style="color:white">Добавить платёж</a> </li>
        <li> <a href="{% url 'admin:index' %}" style="color:white">Администрирование</a> </li>
      </ul>
    </nav>
  </header>


{% block content %}
<h1 class="mt-2" align="center">Отображение информации о сотрудниках</h1>
<div class="d-flex justify-content-center mt-2">
 <table class="table w-75 mt-4">
       <thead class="thead-dark">
      <tr>
       <th scope="col">Номер</th>
       <th scope="col">Имя покупателя</th>
       <th scope="col">Название продукта</th>
       <th scope="col">Дата покупки</th>
       <th scope="col">Количество</th>
       <th scope="col">Общая стоимость</th>
       <th scope="col">Обновить сотрудника</th>
       <th scope="col">Удалить сотрудника</th>
    </tr>
      </thead>
     {% for payment in payments %}
      <tr>
      <td>{{payment.id}}</td>
      <td>{{payment.customers_id}}</td>
      <td>{{payment.product_id}}</td>
      <td>{{payment.payment_Date}}</td>
      <td>{{payment.amount}}</td>
      <td>{{payment.all_cost}}</td>
      <td><a href="update/{{payment.id}}" class="btn btn-dark mt-2 w-100" id = '{{payment.id}}'>Обновление</a></td>
      <td><a href="delete/{{payment.id}}" class="btn btn-dark mt-2 w-100" id = '{{payment.id}}'>Удаление</a></td>
      {% endfor %}
      </tr>
 </table>
</div>
{% endblock %}
</body>
</html>
